NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_URL=http://localhost:3000
SESSION_SECRET=replace-with-at-least-32-random-characters

COINPAY_OAUTH_CLIENT_ID=
COINPAY_OAUTH_CLIENT_SECRET=
COINPAY_OAUTH_BASE_URL=https://coinpayportal.com
COINPAY_OAUTH_SCOPES=openid did wallet:read

COINPAY_API_KEY=
COINPAY_MERCHANT_ID=
COINPAY_WEBHOOK_SECRET=
